<h3 class="text-center text-uppercase m-3">Lascia una recensione</h3>
<form>
    <div class="mb-3">
        <label for="emai1" class="form-label"></label>
        <input type="email" class="form-control rounded-pill p-3 " id="email" placeholder="Inserisci la tua email">
    </div>
    <div class="mb-3">
        <label for="text" class="form-label"></label>
        <textarea class="form-control rounded-pill p-3" id="text" rows="3" placeholder="Inserisci il testo qui"></textarea>
    </div>
    <div class="text-end">
        <button type="submit" class="btn btn-primary">Invia</button>
    </div>
</form>


<script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>

<script>
    document.querySelector('form').addEventListener('submit', function (e) {
        e.preventDefault();

        var emailField = document.querySelector('#email');
        var textField = document.querySelector('#text');

        var email = emailField.value;
        var text = textField.value;

        axios.post('/api/RecensioneWeb/NuovaRecensione', {
            Email: email,
            Testo: text
        })
            .then(function (response) {
                console.log(response);
                emailField.value = '';
                textField.value = '';
            })
            .catch(function (error) {
                console.log(error);
            });
    });
</script>
