html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color:#a1f8f6;
}

tr {
    border-style: hidden;
}

a {
    color: currentColor !important;
    text-decoration: none;
}